.container {
  display: flex;
  gap: 50px;
  margin-top: 20px;
}

.formContainer {
  flex: 1;
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: teal;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.containerBtn {
  display: flex;
  justify-content: flex-end;
}

.btn:hover {
  background-color: rgba(0, 128, 128, 0.5);
}