.container {
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 3rem;
}

.subtitle {
  color: #d4af37;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.cardContent {
  padding: 1rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 1rem;
}

.icon img {
  width: 50px;
  height: 50px;
  background: #001f3f; /* Color del círculo del icono */
  border-radius: 50%;
  padding: 10px;
}

.cardTitle {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.cardText {
  font-size: 1rem;
  color: #666;
}
